<div class="newsletter-box">
  <form action="" enctype="multipart/form-data" method="post">
    <div class="newsletter-butten"> 
      <input type="submit" id="newsletter-submit" name="newsletter-submit" value="Submit">
    </div>
    <div class="newsletter-field"> 
      <input type="text" id="" name="" placeholder=" Enter Email">
    </div>
  </form>
</div>
