<div class="top social_bg">
  <div class="container text-center">
    <h1> THE LATEST</h1>
    <h5 style="letter-spacing: 5px;"> Follow @ JOHNNYTHREADSUSA</h5>
    <div class="bottom shopbluesocial">
      <a href="#" TARGET = "_blank"><img src="{{'facebook1.png' | asset_url}}" alt="" title=""></a> 
      <a href="#" TARGET = "_blank"><img src="{{'twitter1.png' | asset_url}}" alt="" title=""></a>
      <a href="#" TARGET = "_blank"><img src="{{'i.png' | asset_url}}" alt="" title=""></a> 
      <a href="#" TARGET = "_blank"><img src="{{'pinterest.png' | asset_url}}" alt="" title=""></a>
    </div>
    <h5> Spread the word</h5>
    <h5 style="margin-bottom:30px;">#JOHNNYTHREADS</h5>
  </div>


</div>
