<div>
  <div class="container text-center">
    <div class="bottom shopbluesocial_mob">
      <a href="" target="_blank"><img  class="mob_soc"  src="{{'facebook-xxl.png' | asset_url}}" alt="" title=""></a> 
      <a href="" target="_blank"><img  class="mob_soc" src="{{'twitter_mob.png' | asset_url}}" alt="" title=""></a>
      <a href="" target="_blank"><img class="mob_soc"  src="{{'instagram_mob.png' | asset_url}}" alt="" title=""></a>
      <a href="" target="_blank"><img class="mob_soc"  src="{{'pinterest_mob.png' | asset_url}}" alt="" title=""></a>
    </div>

    <div class="soc_text">A curated selection of premium styles featuring:
    
        <span class="soc_text1">Obey, Champion,
          Adidas, Puma, Alternative & More.</span>
    </div>
  </div>
</div>
